{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="height: 200px; background-color: #93C5FD;">
    <div style="max-width: 1000px; margin-left: auto; margin-right: auto; padding: 60px 5px 10px 5px;">
        <div style="font-size: 53px; font-weight: bold; color: white; ">
            ADD CATERING EVENT 
        </div>
    </div>
</div>
<div style="background-color: #F9F9F9; padding: 30px 0 300px 0;">
    <div style="max-width: 700px; margin: 0px auto 0px auto; background-color: white; padding: 30px; border-radius: 10px;">
        <form method=POST action={% url 'add_Catering'%}>
            {% csrf_token %}
            <div style="margin-bottom: 20px; display: flex; justify-content: space-between;">
                <div style="width: 45%">
                    <label>Event Name:</label>
                    <input type="text" placeholder="Event Name" name="event_name" 
                    style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                        background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
                <div style="width: 45%">
                    <label>Address:</label>
                    <input type="text" placeholder="Address" name="address" 
                    style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                        background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
                <div style="width: 45%">
                    <label>City:</label>
                    <input type="text" placeholder="City" name="city" 
                    style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                        background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
                <div style="width: 45%">
                    <label>State:</label>
                    <input type="text" placeholder="State" name="state" 
                    style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                        background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
                <div style="width: 45%">
                    <label>Zip</label>
                    <input type="text" placeholder="Zip" name="zip" 
                    style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                        background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
                <div style="width: 45%">
                    <label>Datetime:</label>
                    <input type="text" placeholder="Datetime" name="datetine" 
                    style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                        background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
                <div style="width: 45%">
                    <label>Cost:</label>
                    <input type="text" placeholder="Cost" name="cost" 
                    style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                        background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
                <div style="width: 45%">
                    <label>Menu item:</label>
                    <input type="text" placeholder="Menu" name="menu_items" 
                    style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                        background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
            </div>
            <div style="margin-bottom: 20px; display: flex; justify-content: space-between;">

                 <div style="width: 45%">
                    <label>Customer Menu:</label>
                    <select style="display: block" name="pState">
                        {% for s in states %}
                            <option value={{s.id}}>{{s.stateName}}</option>
                        {% endfor %}
                    </select>
                </div> 
            </div>
        
    
            <div style="display: flex; justify-content: center;">
                <button type="submit" class="submitButton" style="width: 400px; color: white;">
                    Submit 
                </button>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}