{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="height: 200px; background-color: #EF4444;">
    <div style="max-width: 1000px; margin-left: auto; margin-right: auto; padding: 60px 5px 10px 5px;">
        <div style="font-size: 53px; font-weight: bold; color: white; ">
            ABOUT US
        </div>
    </div>
</div>
<div style="text-align: center; background-color: #f9f9f9; padding: 30px 0 100px 0; font-size: 18px">
    <div style="max-width: 700px; margin: 0px auto 0px auto">
        <h1>Who are the Chin brothers</h1>
        <br><br>
        <h3>Nicholas Chin</h3>
      <div style="margin-right: 10px">
        <img src={% static 'images/Nicholas1.png'%}/>
      </div>
      <br>
        <p>I have been blessed to live in a family that cooks delicious meals every day. 
            When I moved to college I learned that if I wanted to eat good and not break the bank, I needed to cook for myself.
            I noticed that my roommates did not have healthy diets and they always expressed how they never had time to cook and 
            that they could not afford to eat to-go food that was healthy. I decided to cook for my roomates and they loved it. 
            This is when I could make some money and through cooking. 
        </p>
        <br><br>
        <h3>Donovan Chin</h3>
      <div style="margin-right: 10px">
        <img src={% static 'images/Donny1.png'%}/>
      </div>
      <br>
        <p>I like the rest of my family enjoy cooking. I am also very interested in business and I have always wanted to have a resteraunt.
          Moving to Utah and seeing the demand for healthy affordable food made think that this is a great opportunity for a business venture.
          I love to cook for people and knowing that I could share foods that I have enjoyed growing up and make a business out of it was an
          opportunity that was worth a try. 
        </p>
        <br><br>
        <h3>Our Inspirations</h3>
      <div style="margin-right: 10px">
        <img src={% static 'images/MomandDad1.jpg'%} height="500"/>
      </div>
      <br>
        <p>My mom and dad have brought their cultural cuisines and influinces into our home and raised us with delicious meals that we enjoyed everyday.
          My mom is from Laos which is a south eastern country. She has influenced us to cook lots of vegtables and eat spicy foods. My dad is from the diverse island of 
          Jamacia. He influenced us to try foods from around the world such as: ox tail stew, curry goat, seafood, and duck. My parents love for food gave us an 
          appeciation for home cooked meals that we want to share with everyone else.
        </p>
    </div>
  </div>
{% endblock %}